
<div class="row">
  <div class="col-md-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Find..." ng-model="searchText">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="searchCurrentLocation()">
          <i class="fa fa-location-arrow"></i>
        </button>
      </span>
    </div>
  </div>
</div>
<br/>
<div class="row">
  <tabset>
    <tab heading="Map" select="alertMe()">
      <div class="">
        <leaflet center="myLocation" markers="markers" height="400"></leaflet>
      </div>
    </tab>
    <tab heading="List">
      <div>
        <div class="row">
          <div class="col-md-6">
            <h4>Results: {{searchResults.length}}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="list-group">
              <a ng-repeat="item in searchResults" ng-click="selectItem(item)" class="list-group-item">
                {{item}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </tab>
  </tabset>
</div>
<br/>
